// Responsive
desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 768px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$laranja = #FF6600
$azul    = #000042

// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,500italic')
ubuntu($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Ubuntu', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 500