body
    background $laranja

header
    margin-bottom 25px
    +mobile()
        margin-bottom 5%
    .dudi
        position relative
        display block
        height 154px
        width 100%
        z-index 2
        background $img('dudi.png') no-repeat center bottom $azul
        +mobile()
            height 80px
            background-size auto 68px
    nav
        width 100%
        margin 0
        border-bottom 2px solid #fff
        text-align center
        padding 22px 0 12px
        font-size 0
        a
            ubuntu 18 bold italic
            color #fff
            transition color .3s
            text-decoration none
            &:hover
            &.active
                color $azul
            &:after
                content "\00b7"
                margin 0 10px
                color #fff !important
            &:last-child:after
                display none
            +tablet()
                font-size 17px
        +mobile()
            padding 3% 0 2.5%
            a
                display block
                ubuntu 16 bold italic
                padding 2px 0
                &:after
                    display none

.main
    padding-bottom 25px
    +below($tablet)
        padding-bottom 5%

.not-found
    text-align center
    margin-top 40px
    h1
        display inline-block
        padding 14px 18px
        border 2px solid $azul
        color $azul
        ubuntu 14 bold
        text-transform uppercase