.autorizacao
    text-align center
    p
        color $azul
        ubuntu 24
        width 55%
        margin .5em auto
        +mobile()
            ubuntu 20
            width 100%
        &.spaced
            margin-top 1.2em
        &.erro
            box-shadow 0 0 6px #BA2828
            color #fff
            background #BA2828
            border-radius 6px
            padding 10px
            ubuntu 18
            margin-bottom 15px
            +mobile()
                ubuntu 16
        &.enviado
            box-shadow 0 0 6px $azul
            color #fff
            background $azul
            border-radius 6px
            padding 40px
            ubuntu 24
            +mobile()
                ubuntu 20
    input[type='text']
        width 75%
        margin 5px auto
        display block
        background #fff
        border-radius 6px
        ubuntu 20 normal italic
        color $azul
        border 0
        outline 0
        padding 6px
        text-align center
        +mobile()
            width 100%
        &.erro
            box-shadow 0 0 6px #BA2828
            border 3px solid #BA2828
    input[type='submit']
        display inline-block
        ubuntu 24 bold italic
        background $azul
        color $laranja
        border-radius 6px
        text-decoration none
        text-transform uppercase
        padding 16px 36px
        margin-top .8em
        transition background .3s, color .3s
        border 3px solid $azul
        outline 0
        &:hover
            background $laranja
            color $azul
        +mobile()
            display block
            width 100%
            font-size 20px
            margin-top 5%