.chegando
    background $azul
    overflow-x hidden
    max-width 100%
    .bg-dudi
        width 100%
        z-index 2
        .bg
            position absolute
            width 100%
            height 154px
            bottom 0
            left 0
            &.animated
                background $img('dudi.png') no-repeat center bottom
            +mobile()
                height 68px
                &.animated
                    background-size auto 68px
        .center
            padding-bottom 154px
            height 100%
            position relative
            +mobile()
                padding-bottom 80px
                text-align center
        h1
            color #fff
            margin .4em 0 .2em 1em
            line-height .9
            ubuntu 110 normal italic
            font-weight 700
            letter-spacing 2px
            text-transform uppercase
            span
                display block
                margin-left -.8em
            +mobile()
                font-size 45px
                text-align center
                margin 10% 5%
                line-height 1
                span
                    margin 0
        img
            position absolute
            right -15px
            bottom 20px
            +mobile()
                position relative
                display inline-block
                right auto
                bottom auto
                max-width 100%
                margin-bottom 10%
    .bg-texto
        background $laranja
        padding 85px 0
        text-align center
        h2
        h3
            color #fff
            margin 0
        h2
            ubuntu 34 bold
            span
                display inline-block
                position relative
                border-bottom 3px solid #fff
                ubuntu 50 bold
        h3
            ubuntu 50
            margin .25em 0 0
        p
            ubuntu 24
            color $azul
            margin 2.5em 0 0
        +mobile()
            padding 8% 0
            h2
                font-size 18px
                span
                    font-size 22px
            h3
                font-size 22px
            p
                font-size 15px
        h2
        h3
        p
            opacity 0
            transition opacity .3s
            &.animated
                opacity 1 !important
