@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}

.convite
    position absolute
    top 154px
    left 0
    width 100%
    height calc("100% - 154px")
    background $laranja
    z-index 1
    cursor pointer
    transition top .6s ease-out
    +mobile()
        top 80px
        height calc("100% - 80px")
    img
        position absolute
        top 45%
        left 50%
        max-width 80%
        max-height 60%
        &.animated
            opacity 1 !important
    .seta
        position absolute
        width 33px
        height 32px
        bottom 35px
        left 50%
        margin-left -16px
        animation: bounce 1s infinite
        background $img('seta.png') no-repeat center
        text-indent -9999px
        +mobile()
            bottom 20px
            background-size 80% auto

.banner-home
    position absolute
    top 154px
    left 0
    width 100%
    height calc("100% - 154px")
    background $img('home.jpg') no-repeat center 80%
    background-size cover
    z-index -1
    &:after
        content ""
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-image linear-gradient(180deg, $laranja 0%, transparent 100%)
    +mobile()
        top 80px
        height calc("100% - 80px")