.levar
    clearfix()
    .col
        width 50%
        float left
        color $azul
        h2
            ubuntu 20 bold
            margin 2em 0 .3em
            text-transform uppercase
            &:first-child
                margin-top 0
        ul
            padding 0
            margin 0
            list-style-type none
            ubuntu 19
            line-height 1.3
            li
                padding-left 1em
                position relative
                &:before
                    position absolute
                    top 0
                    left 0
                    content "\00bb"
        &:last-child
            padding-left 8%
        +mobile()
            width 100%
            margin-bottom 20px
            &:last-child
                padding 0
            h2
                font-size 16px
                margin-top 20px
            ul
                font-size 16px
    .links
        width 100%
        clear both
        float left
        text-align center
        font-size 0
        margin-top 45px
        a
            display inline-block
            ubuntu 24 bold italic
            background $azul
            color $laranja
            border-radius 6px
            text-decoration none
            text-transform uppercase
            padding 16px 36px
            margin 0 .4em
            transition background .3s, color .3s
            border 3px solid $azul
            &:hover
                background $laranja
                color $azul
            +mobile()
                font-size 20px
        +mobile()
            margin-top 15px
            a
                display block
                margin-bottom 8px