.mapa
    text-align center
    img
        max-width 100%
        height auto
        vertical-align middle
    p
        ubuntu 16 bold italic
        color $azul
        margin-top 1.4em
        margin-bottom .5em
        +mobile()
            font-size 15px
    a
        display inline-block
        ubuntu 24 bold italic
        background $azul
        color $laranja
        border-radius 6px
        text-decoration none
        text-transform uppercase
        padding 16px 36px
        +mobile()
            font-size 20px
            display block
        transition background .3s, color .3s
        border 3px solid $azul
        &:hover
            background $laranja
            color $azul